#control-overlay .control {
    transition: opacity .25s ease-in-out;
    opacity: 0 !important;
}

#control-overlay:hover .control {
    opacity: 1 !important;
}

#control-overlay:hover .control.opacity {
    opacity: 0.8 !important;
}