@import url('https://cdn.rawgit.com/FirefoxUX/design-tokens/master/photon-colors/photon-colors.css');
@import 'typography.css';

html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: var(--grey-10);
  line-height: 1.4;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  max-width: 100em;
  margin: 0 auto;
  color: var(--grey-90);
  font-family: -moz-use-system-font, system-ui, -apple-system,BlinkMacSystemFont,"Segoe UI",Oxygen,Ubuntu,Cantarell,Roboto,"Fira Sans","Open Sans","Helvetica Neue",sans-serif;
  font: message-box;
  font-size: 1em;
}

main {
  max-width: 40em;
  margin:2em;
}

.grid {
  display: grid;
  grid-template-columns: 20% 80%;
  max-width: 60em;
}

.mb-1 {
  margin-bottom: 0.250em;
}

.mb-2 {
  margin-bottom: 0.5em;
}

.mb-3 {
  margin-bottom: 0.75em;
}

.mb-4 {
  margin-bottom: 1em;
}

.mb-8 {
  margin-bottom: 2em;
}