@import url('https://cdn.rawgit.com/FirefoxUX/design-tokens/master/photon-colors/photon-colors.css');

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  max-width: 100.5em;
  margin: 0 auto;
  color: var(--grey-90);
  background-color: var(--grey-10);
  font-family: -apple-system, BlinkMacSystemFont, 'segoe ui', 'helvetica neue', helvetica, ubuntu, roboto, noto, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}