.captation-10 {
  font-size: 0.756em
}

.captation-20 {
  font-size: 0.87em;
}

.captation-30 {
  font-size: 1em;
}

.body-10 {
  font-size: 0.87em;
  font-weight: 400;
}

.body-20 {
  font-size: 1em;
  line-height: 1.25;
}

.body-30 {
  font-size:1.15em
}

.title-10 {
  font-size:1.15em
}

.title-20 {
  font-size: 1.322em;
}

.title-30 {
  
}

.display-20 {
  font-size: 36px;
  line-height: 1.5;
}

h2 {font-size: 1.521em;}

h3 {font-size: }

h4 {font-size: 1.15em;} 

